{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}


    <a href="{{ path('recite_user_user_show') }}">Index</a>
    <a href="{{ path('login') }}">Login</a>
    <a href="{{ path('logout') }}">Logout</a>
    <a href="{{ path('recite_user_user_signup') }}">Reg</a>

    <div class="block">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
